{
    "presets": [
        ["env", {
            "target":{
                "browsers": [
                    "lst 5 versions", 
                    "ie >= 9"
                ]
            }
        }]
    ]
}
